@charset "utf-8";

/*設定版面區塊置中*/
#contents {
    width: 960px;
    margin: 40px auto;
    padding: 40px 80px;
    background-color: #e791d2;
    border: 1px solid #dd6528;
    border-color: rgb(54, 110, 231);
}

/*視窗背景色設定*/
body {
    background-image: url(../img/234.png);
    background-color: rgba(91, 60, 228, 0.712);
    background-repeat: repeat;
    background-size: auto;
    background-position: top right;
    background-attachment: fixed;
}

/*連結顏色設定*/
a {
    background-color: rgba(226, 179, 179, 0.973);
}


/*頁首,導覽,頁尾的共通設定*/
.menu li {
    list-style-type: none;
    display: inline-block;
    width: 120px;
    padding: 10px;
    border: ;
}

.menu a {
    background-color: #aac416;
    color: white;
    padding: 20px;
    border-radius: 30px;
    width: 100px;
}

.menu a:hover {
    background-color: #e9db1f;
    color: rgb(233, 15, 15);
}

/*導覽樣式設定*/
.menu li {
    list-style-type: none;
}

/*頁面標題設定*/
h1 {
    background-color: rgb(231, 229, 96);
    color: #fff;
    width: 20%;
    padding: 20px;
    margin: 40px auto;
    text-align: center;
    font-size: 2.5em;
    border: #fff solid 5px;
    box-shadow: #000 20px 20px 10px;
    text-shadow: 5px 5px 5px #000;
    border-radius: 50%;
}

/*次標題設定*/
h2 {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px dotted #94c8b1;
    border-left: 10px solid #d0e35b;
    color: #58a0e4d7;
    background-color: #d7e7bc;
}


/*小標題設定*/
.h-sub {
    padding: 10px;
    background-color: #fbf9cc;
    color: #ff705b;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #ffd0ad inset;
}


/*內容區塊邊框設定*/



/*「更多介紹」連結設定*/


/*連結圖示設定*/


/*區塊間分隔*/


/*文繞圖設定*/
.imgL {
    float: left;
    margin-right: 20px;
}

.imgR {
    float: right;
    margin-left: 20px;
}

.clear {
    clear: both;
}

/*圓形圖片設定*/
.avatar {
    border-radius: 50%;
}

/*寵物相片設定*/
.photo {
    width: 450px;
    height: 350px;
}